<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Display</title>
</head>
<body>
    <h1>Data from PostgreSQL</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(item => { %>
                <tr>
                    <td><%= item.id %></td>
                    <td><%= item.dob %></td>
                    <td><%= item.injured_occupation %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
